exercises/target/classes/exercises.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_configuration1" doc:name="HTTP Listener config" doc:id="02616ea4-79ef-459c-8cc8-8aec130695b1" >
		<http:listener-connection host="localhost" port="8081" />
	</http:listener-config>
	<http:listener-config name="HTTP_Listener_configuration2" doc:name="HTTP Listener config" doc:id="0f38b03a-14a0-4d28-8eac-1d28549bda59" >
		<http:listener-connection host="localhost" port="8082" />
	</http:listener-config>
	<db:config name="Database_Configuration2" doc:name="Database Config" doc:id="3051acb7-5733-4339-b423-0acb827df0f4" >
		<db:my-sql-connection host="mudb.learn.mulesoft.com" port="3306" user="mule" password="mule" database="training" />
	</db:config>
	<http:listener-config name="HTTP_Listener_configuration3" doc:name="HTTP Listener config" doc:id="60272932-1c50-4845-885f-0c8f7c90f33b" >
		<http:listener-connection host="localhost" port="8083" />
	</http:listener-config>
	<db:config name="Database_Configuration3" doc:name="Database Config" doc:id="b9e71346-0b43-4676-84a0-c2810b65a839" >
		<db:my-sql-connection host="localhost" port="3306" user="root" password="yadavpooja_29" database="training" />
	</db:config>
	<http:listener-config name="HTTP_Listener_configuration4" doc:name="HTTP Listener config" doc:id="f0741a02-7e35-4992-bfd3-108062ef819d" >
		<http:listener-connection host="localhost" port="8084" />
	</http:listener-config>
	<db:config name="Database_Configuration4" doc:name="Database Config" doc:id="3a6ff9f7-b4f6-40b7-b4f9-ee9b8760f49f" >
		<db:my-sql-connection host="localhost" port="3306" user="root" password="yadavpooja_29" database="training" />
	</db:config>
	<http:listener-config name="HTTP_Listener_configuration5" doc:name="HTTP Listener config" doc:id="127fc811-7acb-46a5-ba5f-7cf45f31d081" >
		<http:listener-connection host="localhost" port="8085" />
	</http:listener-config>
	<db:config name="Database_Configuration5" doc:name="Database Config" doc:id="896e6338-4d24-4927-b699-3afcdcc57c9e" >
		<db:my-sql-connection host="localhost" port="3306" user="root" password="yadavpooja_29" database="training" />
	</db:config>
	<http:listener-config name="HTTP_Listener_configuration6" doc:name="HTTP Listener config" doc:id="b66382bc-8358-4073-ab0d-27205f376945" >
		<http:listener-connection host="localhost" port="8086" />
	</http:listener-config>
	<db:config name="Database_Configuration6" doc:name="Database Config" doc:id="76166c87-f635-41ce-8878-4b1a656fb8b2" >
		<db:my-sql-connection host="localhost" port="3306" user="root" password="yadavpooja_29" database="training" />
	</db:config>
	<flow name="exercises1" doc:id="f0fb39dc-5ed4-4f93-9169-05a2f9534012" >
		<http:listener doc:name="Listener" doc:id="21808a1d-95b9-4ec7-9093-47ebbbe397cd" config-ref="HTTP_Listener_configuration1" path="/flights"/>
		<logger level="INFO" doc:name="Logger" doc:id="3442c63e-96a4-4d7f-9552-0035cbb9309d" message="Flight Info"/>
		<set-payload value="Flight Info" doc:name="Set Payload" doc:id="47e6256a-5418-45e6-bff9-cdbc78ad5ccb" />
	</flow>
	<flow name="exercises2" doc:id="2c6450dc-ef5c-4d11-818b-5741ab44a77c" >
		<http:listener doc:name="Listener" doc:id="a95103f0-8520-4710-8b33-f24317e1fd28" config-ref="HTTP_Listener_configuration2" path="/flight"/>
		<db:select doc:name="Select" doc:id="28ab543e-0035-4aa7-99f2-60c2d1109f8b" config-ref="Database_Configuration2">
			<db:sql ><![CDATA[SELECT * FROM american]]></db:sql>
		</db:select>
		<ee:transform doc:name="Transform Message" doc:id="b597873a-f424-48dc-b5cd-d15e7b5b0e20" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload map ( payload01 , indexOfPayload01 ) -> {
	ID: payload01.ID,
	code: (payload01.code1 default "") ++ (payload01.code2 default ""),
	price: payload01.price default 0,
	departureDate: payload01.takeOffDate as String default "",
	origin: payload01.fromAirport default "",
	destination: payload01.toAirport default "",
	emptySeats: payload01.seatsAvailable default 0,
	plane: {
		"type": payload01.planeType default "",
		totalSeats: payload01.totalSeats default 0
	}
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="exercises3" doc:id="e5b89e5a-455f-458d-a890-a0a56cd5b51a" >
		<http:listener doc:name="Listener" doc:id="1fb8d85d-a087-4cbd-a66e-dfe74e92ea16" config-ref="HTTP_Listener_configuration3" path="flights/{id}"/>
		<db:select doc:name="Select" doc:id="a9c4c1a2-803b-4849-967e-143041f8b528" config-ref="Database_Configuration3">
			<db:sql ><![CDATA[select * from american where id= :ID;]]></db:sql>
			<db:input-parameters ><![CDATA[#[{ "ID":attributes.uriParams.id }]]]></db:input-parameters>
		</db:select>
		<ee:transform doc:name="Transform Message" doc:id="9cc16255-edff-4f46-b333-0b56a97e4f61" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="exercises4" doc:id="7ef6adc1-a38a-4db1-90ab-c5cb6217c089" >
		<http:listener doc:name="Listener" doc:id="038932cc-3e03-4714-9c65-0dd53a56b663" config-ref="HTTP_Listener_configuration4" path="/flights" allowedMethods="POST"/>
		<db:insert doc:name="Insert" doc:id="7848725a-3d7d-49a2-9f38-2050a1341a79" config-ref="Database_Configuration4">
			<db:sql ><![CDATA[insert into flight values(:I,:N);]]></db:sql>
			<db:input-parameters ><![CDATA[#[{"I":payload.flightId,"N":payload.flightName}]]]></db:input-parameters>
		</db:insert>
		<ee:transform doc:name="Transform Message" doc:id="105f9523-9bc0-4e39-9948-ff79704b65af" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	 "message":"data added virtually to flight table"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="exercises5" doc:id="c050a78a-dfe5-4c7f-b462-6b06ba7d07e6" >
		<http:listener doc:name="Listener" doc:id="b0a99909-ac9c-43c6-b821-98bcab94b51d" config-ref="HTTP_Listener_configuration5" path="/flight"/>
		<db:select doc:name="Select" doc:id="46b5e23a-ebbe-45a6-a6fb-1e4892a2cf2e" config-ref="Database_Configuration5">
			<db:sql ><![CDATA[select * from flight;]]></db:sql>
		</db:select>
		<ee:transform doc:name="Transform Message" doc:id="ee5d86e7-0582-46f1-8aa2-440565fd2b08" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="exercises6" doc:id="de5c48e8-4cb9-4dba-a843-32ac20161d19" >
		<http:listener doc:name="Listener" doc:id="e5150ab4-6963-4a6c-a30f-3543e9eb5afe" config-ref="HTTP_Listener_configuration6" path="/flight/{flightName}"/>
		<db:select doc:name="Select" doc:id="d717c019-f6bd-4208-8b97-77fe0b16df83" config-ref="Database_Configuration6">
			<db:sql ><![CDATA[select *from flight where flightName =:N;]]></db:sql>
			<db:input-parameters ><![CDATA[#[{ "N":attributes.uriParams.flightName }]]]></db:input-parameters>
		</db:select>
		<ee:transform doc:name="Transform Message" doc:id="f531da14-e24f-4b97-b9c6-114b492dbe15" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
